header {
  width: 20%;
  background-color: #202020;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #eee;
}

header h1 {
  text-align: center;
}

.menuBtn {
  border-radius: 0 10px 10px 0;
  width: 50px;
  height: 100px;
  background-color: #202020;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(0, -50%);
  outline: 0;
  cursor: pointer;
}

.menuBtn span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #eee;
  position: absolute;
  right: 17.5px;
  top: 50%;
}

.menuBtn span:nth-child(1) {
  margin-top: -8px;
}

.menuBtn span:nth-child(3) {
  margin-top: 8px;
}
